<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>

</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Home</h1>
        </div>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
    <div class="row justify-content-center">
        <div class="row mb-3 justify-content-center">
            <div class="col-md-6">
                <div class="card" onclick="location.href='/admin/platform';" style="cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">Platform</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div sec:authorize="hasAnyRole('ADMIN','MANAGER')">
        <div class="row mb-3 justify-content-center">
            <div class="col-md-6">
                <div class="card" onclick="location.href='/admin/sharing-platform/1';" style="cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">Sharing Platform</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="row mb-3 justify-content-center">
            <div class="col-md-6">
                <div class="card" onclick="location.href='/installation/project-selection';" style="cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">Installation</h5>
                    </div>
                </div>
            </div>
        </div>


</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
