<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:fragment="meta_script_link" th:remove="tag">
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css}" rel="stylesheet">
        <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />

        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </thymeleaf>
    <title></title>
</head>
<body class="container">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Phygital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav">
                <!-- Home Button -->
                <a class="nav-item nav-link" id="link-home" th:href="@{/web-app/home}">
                    <i class="fas fa-home"></i>
                </a>
                <!-- User Button -->
                <a class="nav-item nav-link" id="link-user" th:href="@{/}">
                    <i class="fas fa-user"></i>
                </a>
                <!-- About Us Button -->
                <a class="nav-item nav-link" id="link-about-us" th:href="@{/web-app/info}">
                    <i class="fas fa-info-circle"></i>
                </a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
