<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Platform</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Sharing Platforms Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Sharing Platforms</h2>
                <div class="row mb-3 justify-content-center">
                    <!-- Sharing Platforms -->
                    <div class="col-md-8">
                        <table class="table-borderless">
                            <tbody>
                            <tr th:each="platform:${platforms}">
                                <td>
                                    <a th:href="@{/admin/sharing-platform/{platformId}(platformId=${platform.id})}">
                                        <i class="fas fa-edit"></i></a>
                                </td>
                                <td th:text="${platform.getName()}">
                                    Untitled Sharing Platform
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a th:href="@{/admin/sharing-platform/new}">
                                        <i class="fas fa-plus"></i></a>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <!-- Installations Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Installations</h2>
                <div class="row mb-3 justify-content-center">
                    <!-- Installations -->
                    <div class="col-md-6">
                        <table class="table-borderless">
                            <tbody>
                            <tr th:each="installation:${installations}">
                                <td>
                                    <a th:href="@{/admin/installation/{installationId}(installationId=${installation.id})}">
                                        <i class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    <a th:text="${installation.getName()}"></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <a th:href="@{/admin/installation/new}">
                                        <i class="fas fa-plus"></i></a>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Bottom Page Buttons Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <!-- Return Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container text-container">
                    <a class="btn btn-secondary" href="javascript:history.back()"><i class="fas fa-arrow-left"></i>
                        Return</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
