<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sessions</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/bundle-utils.js" defer></script>
</head>
<body th:style="'background-color: ' + ${project.backgroundColorHex} + '; font-family: ' + ${project.fontName} + ', Helvetica Neue, sans-serif;'">
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Sessions</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Details Section -->
        <div class="col-md-4">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Info</h2>
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th>Session ID</th>
                        <th>Supervisor</th>
                        <th>Date & Time</th>
                        <th>CSV Export</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ses : ${sessions_comb}" th:href="@{'/api/sub-themes/session/' + ${ses.getSessionId()} + '/download-csv'}">
                        <td th:text="${ses.sessionId}"></td>
                        <td th:text="${ses.getUser().getName()}"></td>
                        <td th:text="${#temporals.format(ses.timestamp, 'dd/MM/yy HH:mm')}"></td>
                        <td>
                            <a th:href="@{'/api/sub-themes/session/' + ${ses.sessionId} + '/download-csv'}"><i class="fa fa-download"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <!-- Bottom Page Buttons Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <!-- Return Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container text-container">
                    <a class="btn btn-secondary" href="javascript:history.back()"><i class="fas fa-arrow-left"></i>
                        Return</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
