<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sub Theme</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/admin/bundle-sub-theme.js" defer></script>
    <script src="/js/bundle-utils.js" defer></script>
    <style>
        body {
            background-color: [[${project.backgroundColorHex}]];
            font-family: '[[${project.fontName}]]', Helvetica Neue, sans-serif;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/includes::header}">
</header>
<main class="container text-center">
    <div th:insert="~{fragments/background :: fragment}"></div>
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Sub Theme</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Details Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2>Info</h2>
                <table class="table-borderless" th:object="${subTheme}">
                    <tbody>
                    <!-- Name -->
                    <tr>
                        <th class="col-sm-4">
                            <label class="form-label" for="nameInput">Name:</label>
                        </th>
                        <td class="col-sm-8">
                            <input class="form-control" id="nameInput" th:field="*{name}" type="text">
                        </td>
                    </tr>
                    <!-- Information -->
                    <tr>
                        <th class="col-sm-4">
                            <label class="form-label" for="infoInput">Information:</label>
                        </th>
                        <td class="col-sm-8">
                            <textarea class="form-control" id="infoInput" rows="4" th:field="*{information}"></textarea>
                        </td>
                    </tr>
                    <!-- Media -->
                    <tr>
                        <th class="col-sm-4">Media:</th>
                        <td class="col-sm-8">
                            <input type="file" id="mediaInput" name="mediaInput" multiple>
                        </td>
                    </tr>
                    <!-- Visible -->
                    <tr>
                        <th class="col-sm-4">
                            <label class="form-label" for="isVisibleInput">Visible:</label>
                        </th>
                        <td class="col-sm-8">
                            <input class="form-check" id="isVisibleInput" th:checked="${subTheme.isVisible}" type="checkbox">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Save Button -->
                <div class="row mt-3 justify-content-center">
                    <div class="col-sm-4">
                        <button class="btn btn-primary" id="saveButton" type="button">
                            Save
                        </button>
                    </div>
                </div>
            </section>
        </div>
        <!-- Questions Section -->
        <div class="col-md-6">
            <section class="mt-5">
                <h2 class="text-secondary">Questions</h2>
                <div class="row mb-3 justify-content-center">
                    <!-- Questions -->
                    <div class="col-md-4">
                        <table class="table-borderless">
                            <tbody>
                            <tr th:each="question, qIndex:${questions}">
                                <td>
                                    <a th:href="@{/admin/sub-theme/{subThemeId}/question/{questionId}(subThemeId=${subTheme.id}, questionId=${question.id})}"><i class="fas fa-edit"></i></a>
                                </td>
                                <td th:text="'Question '+ ${qIndex.count}">Question</td>
                            </tr>
                            <tr>
                                <td>
                                    <a th:href="@{/admin/sub-theme/{subThemeId}/question/new(subThemeId=${subTheme.id})}">
                                        <i class="fas fa-plus"></i></a>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Bottom Page Buttons Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <!-- Return Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container text-container">
                    <a class="btn btn-secondary" href="javascript:history.back()"><i class="fas fa-arrow-left"></i> Return</a>
                </div>
            </div>
            <!-- Sessions Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container">
                    <a class="btn btn-secondary" th:href="@{/admin/sub-theme/{subThemeId}/sessions(subThemeId=${subTheme.getId()})}">
                        Sessions
                    </a>
                </div>
            </div>
            <!-- Delete Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container">
                    <button class="btn btn-danger" id="deleteButton" type="button">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
