<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <h1 class="page-title" th:text="'Dashboard for ' + ${platform.getName()}" >Dashboard</h1>
    <div class="row">
        <!-- Projects Sections -->
        <div class="col-md-6">
            <section class="mt-5">
                <h2>Projects</h2>
                <div class="row">
                    <!-- Projects -->
                    <div class="col-md-4">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td><a th:each="project:${projects}" th:href="@{/sharing-platform/{platformId}/project/{projectId}(platformId=${platform.getId()}, projectId=${project.getId()})}" th:text="${project.getName()}"><i class="fas fa-edit"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <!-- Supervisors Sections -->
        <div class="col-md-6">
            <section class="mt-5">
                <h2>Supervisor</h2>
                <div class="row">
                    <!-- Supervisors -->
                    <div class="col-md-4">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td th:each="sv:${supervisor}">
                                    <a  th:text="${sv.getName()}" th:href="@{/sharing-platform/{platformId}/supervisor/{supervisorId}(platformId=${platform.getId()}, supervisorId=${sv.getId()})}"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
