<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <h1 class="page-title text-primary" th:text="'Dashboard for ' + ${platform.getName()}" >Dashboard</h1>
    <div class="row justify-content-center">
        <!-- Projects Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Projects</h2>
                <div class="row mb-3 justify-content-center">
                    <!-- Projects -->
                    <div class="col-md-8">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><a th:each="project:${projects}" th:href="@{/sharing-platform/{platformId}/project/{projectId}(platformId=${platform.id}, projectId=${project.id})}" th:text="${project.getName()}"><i class="fas fa-edit"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <!-- Supervisors Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Supervisors</h2>
                <div class="row justify-content-center">
                    <!-- Supervisors -->
                    <div class="col-md-4">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td th:each="sv:${supervisor}">
                                    <a  th:text="${sv.getName()}" th:href="@{/sharing-platform/{platformId}/supervisor/{supervisorId}(platformId=${platform.id}, supervisorId=${sv.id})}"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
