<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <h1 class="page-title" th:text="'Dashboard for ' + ${platform.getName()}"> dashboard of project</h1>
    <br>
    <!-- Navigation Cards -->
    <div class="row">
        <!-- Projects -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <a th:each="project:${projects}" th:href="@{/sharing-platform/{platformId}/project/{projectId}(platformId=${platform.getId()}, projectId=${project.getId()})}" class="btn btn-primary" th:text="${project.getName()}">project button</a>
                </div>
            </div>
        </div>
        <!-- Supervisors -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Supervisors</h5>
                    <a th:each="sv:${supervisor}" th:text="${sv.getName()}" th:href="@{/sharing-platform/{platformId}/supervisor/{supervisorId}(platformId=${platform.getId()}, supervisorId=${sv.getId()})}" class="btn btn-primary">Supervisors of this platform</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
