<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flow</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <h1 class="page-title">Flow</h1>
    <br>
    <!-- Navigation Cards -->
    <div class="row">
        <!-- Sub Themes -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sub Themes</h5>
                    <a href="/sharing-platform/sub-theme" class="btn btn-primary">Sub Theme 1</a>
                    <a href="/sharing-platform/sub-theme" class="btn btn-primary">Sub Theme 2</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a th:href="@{/sharing-platform/project}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
