<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flow</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <h1 class="page-title text-primary">Flow</h1>
    <div class="row justify-content-center">
        <!-- Details Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Info</h2>
                <div class="col-md-8">
                    <table class="table table-bordered table-striped" th:object="${flow}">
                        <tbody>
                        <!-- Name -->
                        <tr>
                            <th class="col-sm-4">
                                <label class="form-label" for="nameInput">Name:</label>
                            </th>
                            <td class="col-sm-8">
                                <input class="form-control" id="nameInput" type="text" value="what do you want here?">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Save Button -->
                    <div class="row mt-3 justify-content-center">
                        <div class="col-sm-4">
                            <button class="btn btn-primary" id="saveButton" type="button">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Sub Themes Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Sub Themes</h2>
                <div class="row mb-3 justify-content-center">
                    <!-- Sub Themes -->
                    <div class="col-md-8">
                        <table class="table table-bordered table-striped">
                            <tbody th:each="st:${st}">
                            <tr>
                                <td>
                                    <label for="visibility"></label>
                                    <input id="visibility" type="checkbox">
                                </td>
                                <td>
                                    <a th:href="@{/sharing-platform/flow/{flowId}/sub-theme/{stId}(flowId=${flow.getId()}, stId=${st.getId()})}"><i class="fas fa-edit"></i></a>
                                </td>
                                <td th:text="${st.getName()}"></td>
                                <td>
                                    <i class="fas fa-bars"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
