<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/sharing-platform/question.js" defer></script>
    <script src="/js/utils.js"></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <h1 class="page-title text-primary">Question</h1>
    <div class="row justify-content-center">
        <!-- Details Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Info</h2>
                <table class="table">
                    <tbody th:object="${q}">
                    <!-- Text -->
                    <tr>
                        <th class="col-sm-4">
                            <label class="form-label" for="textInput">Text:</label>
                        </th>
                        <td class="col-sm-8">
                            <textarea class="form-control" id="textInput" rows="4" th:field="*{text}"></textarea>
                        </td>
                    </tr>
                    <!-- Question Type -->
                    <tr>
                        <th class="col-sm-4">
                            <label for="questionTypeInput" class="form-label">Question Type:</label>
                        </th>
                        <td class="col-sm-8">
                            <select class="form-control" id="questionTypeInput">
                                <option th:each="type : ${T(be.kdg.team_5_phygital.domain.QuestionType).values}"
                                        th:value="${type}"
                                        th:text="${type}"
                                        th:selected="${type == q.type}">>
                                </option>
                                <!-- Add more font options here -->
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Save Button -->
                <div class="row mt-3 justify-content-center">
                    <div class="col-sm-4">
                        <button class="btn btn-primary" id="saveButton" type="button">
                            Save
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
