<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Details</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <h1 class="page-title">Contact Details</h1>
    <div class="row">
        <form id="loginForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" name="email" type="email">
            </div>
        </form>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
