<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <h1 class="page-title">Question</h1>
    <div class="row">
        <!-- Question Form -->
        <div class="col-md-6">
            <section class="mt-5">
                <h2>Question</h2>
                <form id="questionForm">
                    <div class="form-group">
                        <label for="answerInput">Answer:</label>
                        <input id="answerInput" name="answerInput" type="text">
                    </div>
                    <button type="submit">Save</button>
                </form>
                <a class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
                <a class="btn btn-secondary"><i class="fas fa-arrow-right"></i></a>
                <a class="btn btn-secondary"><i class="fas fa-stop"></i></a>
            </section>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
