<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/installation/bundle-questionHandler.js" defer></script>
    <script src="/js/bundle-utils.js" defer></script>
    <script src="/js/util/bundle-csrf.js" defer></script>
    <style>
        /* Add your CSS styles here to visually block the content */
        .blocked-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
            z-index: 997; /* Ensure overlay is on top of everything */
            display: none; /* Initially hide the overlay */
        }
        #pauseButton {
            position: relative;
            z-index: 998;
        }

        #notesField{
            display: none;
            position: relative;
            z-index: 999;
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center " >
    <!-- Overlay to cover the content when blocked -->
    <div class="blocked-overlay" id="blockedOverlay"></div>
    <h1 class="page-title text-primary">Question</h1>
    <div class="table-info" id="timer"></div>
    <div id="userCount"> </div>
    <div class="row justify-content-center" id="content" th:object="${questions}">
        <!-- Question Form -->
        <div class="col-md-6">
            <section class="mt-5 text-center" id="main">
                <textarea id="notesField" class="col-md-12" placeholder="Take some notes here"> </textarea>
                <form id="questionForm" th:object="${questions}">
                    <div th:each="question, index: ${questions}" th:id="${'question' + index.index}">
                        <h2 class="text-secondary" th:id="${'questionId_'+question.id}" th:text="${'Question ' + (index.index+1)}">Question Number</h2>
                        <div th:switch="${question.type.toString()}">
                            <label th:id="${'question_'+index.index}" th:text="${question.text}" >Question:</label>
                            <div th:case="'SINGLE_CHOICE'" id="singleChoice">
                                <div class="form-group" th:each="answer:${possibleAnswers}">
                                    <input type="radio" th:name="${'answer'+index.index}" th:if="${question.id == answer.question.id}" th:value="${answer.answer}" th:text="${answer.answer}">
                                </div>

                            </div>
                            <div th:case="'MULTIPLE_CHOICE'" id="multipleChoice">
                                <div class="form-group" th:each="answer:${possibleAnswers}">
                                    <input type="checkbox" th:name="${'answer'+index.index}" th:if="${question.id == answer.question.id}" th:value="${answer.answer}"  th:text="${answer.answer}">
                                </div>
                            </div>
                            <div th:case="'RANGE'" id="range">
                                <input type="range" class="range" th:id="${'answer' + index.index}" min="0" max="100" step="1" value="50">
                                <span id="rangeValue">Value: 50</span>
                            </div>
                            <div th:case="'OPEN'" id="open">
                                <input type="text" th:id="${'answer' + index.index}" required>
                            </div>
                            <div th:case="*">
                                <p>Unsupported question type</p>
                            </div>
                            <hr>
                        </div>
                    </div>

                </form>
<!--                    <button type="submit" id="submit">Save</button>-->

                    <button class="btn btn-primary" id="submit" type="button">
                        Save
                    </button>
                <hr>
                <a class="btn btn-secondary" th:if="${isCircular}" id="minUser" ><i class="fas fa-minus"></i></a>
                <a class="btn" th:if="${isCircular}"  type="hidden"></a>
                <a class="btn btn-secondary" th:if="${isCircular}" id="plusUser"><i class="fas fa-plus"></i></a>
                <br>
                <a class="btn btn-secondary" id="backButton" ><i class="fas fa-arrow-left"></i></a>
                <a class="btn btn-secondary" id="pauseButton"><i id="pauseIcon" class="fas fa-pause"></i></a>
                <a class="btn btn-secondary" id="nextButton" ><i class="fas fa-arrow-right"></i></a>
            </section>
        </div>
    </div>
    <br>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
