<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sub Themes</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Sub Themes</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Select Sub Theme</h2>
                <!-- Sub Themes Section -->
                <h2 class="text-secondary">SubThemes</h2>
                <div class="row justify-content-center">
                    <!-- Loop through sub themes -->
                    <div class="col-md-4 mb-4" th:each="sub_theme : ${all_sub_themes}" th:attr="onclick='location.href=\'/installation/questions?subThemeId=' + ${sub_theme.id} + '\''" style="cursor: pointer;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${sub_theme.name}"></h5>
                                <p class="card-text" th:text="${sub_theme.information}"></p>
                                <!-- You can access flowId directly from sub_theme -->
                                <p class="card-text">Flow ID: <span th:text="${sub_theme.flowId}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>

<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
