<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Theme Description</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Theme Description</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Details Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Theme Information</h2>
                <!-- Display Theme Information -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${theme.name}"></h5>
                        <p class="card-text" th:text="${theme.information}"></p>
                    </div>
                </div>
                <h2 class="text-secondary">Subthemes</h2>
                <div class="row justify-content-center">
                    <!-- Loop through Subthemes -->
                    <div class="col-md-4 mb-4" th:each="subtheme : ${subthemes}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${subtheme.name}"></h5>
                                <p class="card-text" th:text="${subtheme.information}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
