<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <h1 class="page-title">Dashboard</h1>
    <div class="row">
        <!-- Sharing Platforms Section -->
        <div class="col-md-6">
            <section class="mt-5">
                <h2>Sharing Platforms</h2>
                <div class="col-md-8">
                    <!-- Sharing Platforms -->
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td>
                                    <a th:href="@{/admin/sharing-platform}"><i class="fas fa-edit"></i></a>
                                </td>
                                <td>Platform</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
