<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flow</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/admin/bundle-flow.js" defer></script>
    <script src="/js/bundle-utils.js" defer></script>
    <style>
        body {
            background-color: [[${project.backgroundColorHex}]];
            font-family: '[[${project.fontName}]]', Helvetica Neue, sans-serif;

            #logo {
                position: fixed;
                top: 70px;
                left: 10px;
                width: 60px;
                height: auto;
                z-index: 1000;
            }
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <!-- Logo -->
    <img alt="" th:id="logo" th:src="@{'/images/project' + ${project.id} + '-logo.jpg'}">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Flow</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Details Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Info</h2>
                <div class="col-md-8">
                    <table class="table-borderless" th:object="${flow}">
                        <tbody>
                        <!-- Name -->
                        <tr>
                            <th class="col-sm-4">
                                <label class="form-label" for="nameInput">Remarks:</label>
                            </th>
                            <td class="col-sm-8">
                                <textarea class="form-control" id="nameInput" ></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Save Button -->
                    <div class="row mt-3 justify-content-center">
                        <div class="col-sm-4">
                            <button class="btn btn-primary" id="saveButton" type="button">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Sub Themes Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Sub Themes</h2>
                <div class="row mb-3 justify-content-center">
                    <!-- Sub Themes -->
                    <div class="col-md-8">
                        <table class="table-borderless">
                            <tbody>
                            <tr th:each="st:${st}">
                                <td>
                                    <label for="visibility"></label>
                                    <input id="visibility" type="checkbox">
                                </td>
                                <td>
                                    <a th:href="@{/admin/flow/{flowId}/sub-theme/{stId}(flowId=${flow.id}, stId=${st.id})}"><i
                                            class="fas fa-edit"></i></a>
                                </td>
                                <td th:text="${st.name}"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a th:href="@{/admin/flow/{flowId}/sub-theme/new(flowId=${flow.id})}">
                                        <i class="fas fa-plus"></i></a>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Bottom Page Buttons Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <!-- Return Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container text-container">
                    <a class="btn btn-secondary" href="javascript:history.back()"><i class="fas fa-arrow-left"></i>
                        Return</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
