<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Organization Statistics</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/export-statistics.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Organization Statistics</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Statistics -->
        <div class="col-md-8">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Statistics</h2>
                <div>
                    <table id="statsTable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Total Participants</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>Time Spent (avg)</td>
                            <td>15 minutes</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- Bottom Page Buttons Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <!-- Return Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container">
                    <a class="btn btn-secondary" href="javascript:history.back()"><i class="fas fa-arrow-left"></i>
                        Return</a>
                </div>
            </div>
            <!-- Export Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container">
                    <button class="btn btn-primary" id="exportButton" type="button">
                        Export
                    </button>
                </div>
            </div>
            <!-- Project Stats Button -->
            <div class="col-md-2 center-container text-center">
                <div class="center-container">
                    <a class="btn btn-secondary" th:href="@{/admin/project/{projectId}/stats(projectId=${project.id})}">
                        Project Stats
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
