<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <h1 class="page-title">Sharing Platform</h1>
    <div class="row">
        <!-- Details Section -->
        <div class="col-md-6">
            <section class="mt-5">
                <h2>Info</h2>
                <table class="table table-bordered table-striped">
                    <tbody>
                    <!-- Name -->
                    <tr>
                        <th class="col-sm-4">
                            <label for="nameInput" class="form-label">Name:</label>
                        </th>
                        <td class="col-sm-8">
                            <input class="form-control" id="nameInput" type="text">
                        </td>
                    </tr>
                    <!-- Contact -->
                    <tr>
                        <th class="col-sm-4">
                            <label for="contactInput" class="form-label">Contact:</label>
                        </th>
                        <td class="col-sm-8">
                            <input class="form-control" id="contactInput" type="text">
                        </td>
                    </tr>
                    <!-- Client -->
                    <tr>
                        <th class="col-sm-4">Client:</th>
                        <td class="col-sm-8">
                            <a th:href="@{/admin/client}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Save Button -->
                <div class="row mt-3">
                    <div class="col-sm-4">
                        <button class="btn btn-primary" id="saveButton" type="button">
                            Save
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Stats Button -->
    <div class="center-container">
        <a th:href="@{/admin/platform-stats}" class="btn btn-secondary">
            Statistics
        </a>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a th:href="@{/admin/dashboard}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Return
        </a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
