<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Details</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <link rel="stylesheet" href="scss/style.css">
    <script src="/js/bubbles.js" defer></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <h1 class="page-title text-primary">Contact Details</h1>
    <div class="row justify-content-center">
        <!-- Contact Details Form -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Form</h2>
                <form id="contactForm" method="post" th:action="@{/installation/contact-details}">
                    <div class="form-group">
                        <label for="emailInput">Email:</label>
                        <input id="emailInput" name="email" type="email" class="form-control" required>
                    </div>
                    <button class="btn btn-primary" id="submit" type="submit">
                        Submit
                    </button>
                </form>
            </section>
        </div>
        <!-- Exit Button -->
        <div class="center-container">
            <a th:href="@{/}" class="btn btn-secondary">Exit</a>
        </div>
    </div>
    <br>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
