<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flow Selection</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>

    <style>
        body {
            background-color: [[${project.backgroundColorHex}]];
            font-family: '[[${project.fontName}]]', Helvetica Neue, sans-serif;

            #logo {
                position: fixed;
                top: 70px;
                left: 10px;
                width: 60px;
                height: auto;
                z-index: 1000;
            }
        }
    </style>

</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <div th:insert="~{fragments/background :: fragment}"></div>
    <!-- Logo image -->
    <img alt="" th:id="logo" th:src="@{'/images/platform' + ${platform.id} + '-logo.jpg'}">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Flow Selection</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Flow Selection Section -->
        <div class="col-md-12">
            <section class="mt-5 text-center">
                <h2 class="text-secondary">Select Flow</h2>
                <div class="col-md-12">
                    <div class="row justify-content-center">
                        <!-- Loop through all_flows -->
                        <div class="col-md-4" th:each="flow : ${all_flows}">
                            <div class="card">
                                <div class="card-body" th:attr="onclick='location.href=\'/installation/theme-description?flowId=' + ${flow.id} + '\''" style="cursor: pointer;">
                                    <h5 class="card-title" th:text="${flow.name}"></h5>
                                    <p class="card-text">Circular: <span th:text="${flow.isCircular()}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
