<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Information</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <div th:insert="~{fragments/background :: fragment}"></div>
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary" th:text="${'Information about ' + project.getName()}">Project Information</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Description Section -->
        <div class="col-md-8">
            <section class="mt-2 text-center">
                <h5>Information</h5>
                <p th:text="${theme.getInformation()} ?: 'This project does not have any public information'">

                </p>
            </section>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>
<footer th:insert="~{fragments/installation-footer::privacy}"></footer>
</body>
</html>
