<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/installation/bundle-question-handler.js" defer></script>
    <script src="/js/bundle-utils.js" defer></script>
    <script src="/js/util/bundle-csrf.js" defer></script>
    <link rel="stylesheet" href="/css/installation/bundle-question-handler.css">
    <script src="/js/installation/bundle-installation.js" defer></script>
    <link rel="stylesheet" href="/css/installation/bundle-installation.css">

</head>
<body th:style="'background-color: ' + ${project.backgroundColorHex} + '; font-family: ' + ${project.fontName} + ', Helvetica Neue, sans-serif;'">
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <!-- Logo image -->
    <img id="logo" th:src="${platform.logoUrl}" alt="Platform Logo">
    <!-- Overlay to cover the content when blocked -->
    <div class="blocked-overlay" id="blockedOverlay"></div>
    <h1 class="page-title text-primary">Question</h1>
    <div class="table-info" id="timer"></div>
    <div id="userCount"> </div>
    <div class="row justify-content-center" id="content" th:object="${questions}">
        <!-- Question Form -->
        <div class="col-md-6">
            <section class="mt-5 text-center" id="main">
                <textarea id="notesField" class="col-md-12" placeholder="Take some notes here"> </textarea>
                <form id="questionForm" th:object="${questions}">
                    <div th:each="question, index: ${questions}" th:id="${'question' + index.index}">
                        <h2 class="text-secondary" th:id="${'questionId_'+question.id}" th:text="${'Question ' + (index.index+1)}">Question Number</h2>
                        <div th:switch="${question.type.toString()}">
                            <label th:id="${'question_'+index.index}" th:text="${question.text}" >Question:</label>
                            <div th:case="'SINGLE_CHOICE'" id="singleChoice">
                                <div class="form-group" th:each="answer:${possibleAnswers}">
                                    <input type="radio" th:name="${'answer'+index.index}" th:if="${question.id == answer.question.id}" th:value="${answer.answer}" th:text="${answer.answer}">
                                </div>

                            </div>
                            <div th:case="'MULTIPLE_CHOICE'" id="multipleChoice">
                                <div class="form-group" th:each="answer:${possibleAnswers}">
                                    <input type="checkbox" th:name="${'answer'+index.index}" th:if="${question.id == answer.question.id}" th:value="${answer.answer}"  th:text="${answer.answer}">
                                </div>
                            </div>
                            <div th:case="'RANGE'" id="range">
                                <input type="range" class="range" th:name="${'answer' + index.index}" th:id="${'sliderQuestionId_' + question.id}">
                                <br>
                                <span id="rangeValue"> </span>

                            </div>
                            <div th:case="'OPEN'" id="open">
                                <input type="text" th:id="${'answer' + index.index}" required>
                            </div>
                            <div th:case="*">
                                <p>Unsupported question type</p>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <img id="url" th:src="${subTheme.mediaUrl}" alt="Sub Theme media URL">
                </form>
                <!-- Save button does not show up -->
                <button class="btn btn-primary" id="submit" type="button">
                    Save
                </button>
                <hr>
                <a class="btn btn-secondary" th:if="${isCircular}" id="minUser" ><i class="fas fa-minus"></i></a>
                <a class="btn" th:if="${isCircular}"  type="hidden"></a>
                <a class="btn btn-secondary" th:if="${isCircular}" id="plusUser"><i class="fas fa-plus"></i></a>
                <br>
                <a class="btn btn-secondary" id="backButton" ><i class="fas fa-arrow-left"></i></a>
                <a class="btn btn-secondary" id="pauseButton"><i id="pauseIcon" class="fas fa-pause"></i></a>
                <a class="btn btn-secondary" id="nextButton" ><i class="fas fa-arrow-right"></i></a>
            </section>
        </div>
        <!-- Finish Button -->
        <div class="center-container">
            <a th:href="@{'/installation/contact-details?platformId=' + ${platform.getId()} + '&projectId=' + ${project.getId()}}" class="btn btn-primary">Finish</a>
        </div>
    </div>
    <br>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
    <div id="none">
        <div th:each="q: ${questions}" >
            <div th:if="${q.getType().toString() == 'RANGE'}">
                <div th:each="pa: ${possibleAnswers}" id="rangeContent">
                    <div th:if="${pa.question.id == q.id}">
                        <p th:text="${q.id + ' ' + pa.answer}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/installation-footer::all (projectName = ${project.getName()}, themeId= ${theme.getId()}, projectId = ${project.getId()}, platformName = ${platform.getName()}, platformId = ${platform.getId()})}"></footer>
</body>
</html>
