<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Theme Description</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <link rel="stylesheet" href="scss/style.css">
    <script src="/js/bubbles.js" defer></script>
    <style>
        body {
            background-color: [[${project.backgroundColorHex}]];
            font-family: '[[${project.fontName}]]', Helvetica Neue, sans-serif;

            #logo {
                position: fixed;
                top: 70px;
                left: 10px;
                width: 60px;
                height: auto;
                z-index: 1000;
            }
        }
    </style>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <div th:insert="~{fragments/background :: fragment}"></div>
    <!-- Logo image -->
    <img alt="" th:id="logo" th:src="@{'/images/platform' + ${platform.id} + '-logo.jpg'}">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Theme Description</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Theme Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <h2 class="text-secondary" th:text="${one_theme.name}"></h2>
                <!-- Display the single theme -->
                <div>
                    <p th:text="${one_theme.information}"></p>
                </div>
                <!-- Continue Button -->
                <div class="center-container">
                    <a th:href="@{'/installation/sub-themes?flowId=' + ${flow.id}}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Continue</a>
                </div>
            </section>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
    </div>
</main>

<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
