<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:fragment="meta_script_link" th:remove="tag">
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css}" rel="stylesheet">
        <link rel="stylesheet" href="/css/bundle-site.css"/>
        <script src="/js/bundle-site.js" defer></script>
    </thymeleaf>
    <title></title>
</head>
<body>
<header class="pb-3" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Website Name -->
            <a class="navbar-brand" th:href="@{/}">Phygital Tool</a>
            <!-- Toggler -->
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Left Side -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i><span>Home</span></a>
                    </li>
                </ul>
                <!-- Right Side -->
                <ul class="navbar-nav ms-auto">
                    <!-- Welcome Message -->
                    <li class="nav-item me-2 pt-2" sec:authorize="isAuthenticated()">
                        <span class="navbar-text">Logged in as </span>
                        <span class="navbar-text" id="userMail" th:text="${#authentication.principal.username}"></span>
                        <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:text="ADMIN"></span>
                        <span th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}" th:text="MANAGER"></span>
                        <span th:if="${#authorization.expression('hasRole(''ROLE_SUPERVISOR'')')}" th:text="SUPERVISOR"></span>
                        <span th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or #authorization.expression('hasRole(''ROLE_MANAGER'')') or #authorization.expression('hasRole(''ROLE_SUPERVISOR'')')}" th:text="${#authentication.authorities[0].authority}"></span>
                    </li>
                    <!-- Logout Button -->
                    <li sec:authorize="isAuthenticated()">
                        <form class="d-flex" th:action="@{/logout}" th:method="POST">
                            <button class="btn-light" type="submit"><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </li>
                    <!-- Login Button -->
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
