<!DOCTYPE html>
<html lang="en">
<head>
    <title>Phygital</title>
    <thymeleaf th:replace="~{fragments/web-includes :: meta_script_link}"></thymeleaf>
</head>
<body class="container">
<header th:replace="~{fragments/web-includes::header}"></header>
<main class="container text-center">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Home</h1>
        </div>
    </div>
    <!-- Blog Section -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row" th:each="project : ${projects}">
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title text-secondary" th:text="${project.name}"></h3>
                            <p class="card-text text-muted">Posted on: 12-12-2000</p>
                            <a class="btn btn-primary" th:href="@{/web-app/project(projectId=${project.id})}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
