<!DOCTYPE html>
<html lang="en">
<head>
    <title>Phygital</title>
    <thymeleaf th:replace="~{fragments/web-includes :: meta_script_link}"></thymeleaf>
    <script src="/js/web-app/post-comment.js" type="module"></script>
    <script src="/js/utils.js"></script>
</head>
<body class="container">
<header th:replace="~{fragments/web-includes::header}"></header>
<main class="container text-center" th:if="${project}">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary" th:text="${project.name}"></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <div class="col-md-12">
                    <div>
                        <h2 class="text-secondary" th:if="${theme}" th:text="${theme.name}"></h2>
                        <p th:if="${theme}" th:text="${theme.information}"></p>
                    </div>
                </div>
            </section>
            <!-- Comment Section -->
            <section class="mt-5">
                <h4 class="text-secondary">Add a Comment</h4>
                <label for="commentInput"></label>
                <textarea id="commentInput" rows="4" cols="50"></textarea><br>
                <div class="col-sm-4">
                    <button class="btn btn-secondary" id="postButton" type="button">
                        Post
                    </button>
                </div>
            </section>
            <section class="mt-5">
                <h4 class="text-secondary">Comments</h4>
                <div id="comments"></div>
            </section>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
