@use "variables" as *;
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootswatch/dist/cerulean/variables";
@import "~bootswatch/dist/cerulean/bootswatch";
