<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phygital</title>
    <thymeleaf th:replace="~{fragments/web-includes :: meta_script_link}"></thymeleaf>
</head>
<body class="container">
<header th:replace="~{fragments/web-includes::header}"></header>
<main class="container text-center">
    <!-- Title Section -->
    <div class="col-md-12">
        <div class="row mb-3 justify-content-center">
            <h1 class="page-title text-primary">Info</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <div class="col-md-12">
                    <div class="row justify-content-center">
                        <h4 class="text-secondary">Our Mission</h4>
                        <p>
                            At Levuur and Tree Company, our mission is to empower youth and foster inclusive decision-making processes.
                            We believe that young voices are essential for creating positive change in communities. Our goal is to
                            bridge the gap between young people and decision-makers by providing accessible platforms for meaningful
                            engagement.
                        </p>
                        <h4 class="text-secondary">Our Approach</h4>
                        <p>
                            We combine digital innovation with participatory methodologies to create inclusive spaces where young people
                            feel heard and valued. By leveraging our expertise in stakeholder management and technology, we design
                            customized solutions that empower youth to contribute their ideas and perspectives to important policy
                            issues.
                        </p>
                        <h4 class="text-secondary">Our Project</h4>
                        <p>
                            Currently, we're developing a "Phygital" tool to obtain youth input on policy issues. This innovative tool
                            combines physical installations with digital technology to create immersive experiences that engage young
                            people in local governance. Our aim is to empower young people to participate actively in decision-making
                            processes and shape the future of their communities.
                        </p>
                        <p>
                            Join us in empowering young voices and shaping the future together.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>
